In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('/Users/joshuarkarnad/Desktop/Thinkful/MLS Salary Prediction/Data/mls_salaries.csv')

In [3]:
df.head().T

,0,1,2,3,4
season,2018,2018,2018,2018,2018
club_grouped,TFC,TFC,LAFC,CHI,LAG
club,TOR,TOR,LAFC,CHI,LA
first_name,Sebastian,Michael,Carlos,Bastian,Giovani
last_name,Giovinco,Bradley,Vela,Schweinsteiger,dos Santos
position,F,M,F,M,F
total_compensation,"$7,115,556","$6,500,000","$6,292,500","$6,100,000","$6,000,000"
base_salary,"$5,600,000","$6,000,000","$4,500,000","$6,100,000","$4,250,000"

In [4]:
df.shape

(6219, 8)

In [5]:
#dropping Goal Keepers because stats are different
df = df[df['position'] != 'GK']
df.shape

(5550, 8)

In [6]:
import re
def name_cleaner(name):
    name = name.lower()
    name = re.sub('"[^"]+"', '', name)
    name = re.sub("'[^']+'", '', name)    
    name = name.strip()
    name = name.replace(' ','-')
    return name

In [7]:
# cleaning names so I can use them for URLs ie get rid of ', ", -
df = df.dropna()
df[df['first_name'].str.contains(" ")]
df['first_name_cleaned'] = df['first_name'].map(name_cleaner)
df['last_name_cleaned'] = df['last_name'].map(name_cleaner)
df[['first_name_cleaned', 'last_name_cleaned']].head(5)

  first_name_cleaned last_name_cleaned
0          sebastian          giovinco
1            michael           bradley
2             carlos              vela
3            bastian    schweinsteiger
4            giovani        dos-santos

In [8]:
df['urls'] = 'https://www.mlssoccer.com/players/' + df['first_name_cleaned']+'-'+df['last_name_cleaned']
urls = df[['urls', 'first_name', 'last_name']].drop_duplicates()

In [9]:
len(df['urls'])

5524

In [10]:
len(urls)

2044

In [11]:
urls.to_csv('Data/urls.csv', index = False)

In [12]:
df.to_csv('Data/salariesV1.csv', index = False)